<!DOCTYPE html>
<html lang="en" id="online-lessons">
    <head>
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/Grid%20(1).css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://unpkg.com/ionicons@4.4.7/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="">
        <link rel="icon" href="resources/css/img/Asset22.png" type="image/png" sizes="16x16">
        <title> C++ </title>

    </head>
     <body>
       <header class="online-lessons">
           <nav>
               <div class="row">
                     <a href="index.html"><img src="resources/css/img/Asset%207.png" style="width:30;height:30" alt="Kickstart Logo" class="logo"></a>
                   <ul class="main-nav">
                       <li><a href="online-lessons.html">Online Courses</a></li>
                       <li><a href="about-us.html">About Us</a></li>
                       <li><a href="#">Calendar</a></li>
                      <li><a href="gallery.html">Gallery</a></li>
                   </ul>
               </div>
           </nav>
           <section class="course-list">
             <div class="row">
                
                <h2> Unit 1: Intro to C++ </h2>
                
            </div>
           
               <div class="navbar2">
                  <a href="c++-unit1-vid.html">Introductory Video</a> 
                  <a href="c++-unit1-nearpod.html">Presentation</a> 
                  <a class="active" href="#">Activity</a> 
                  <a href="c++-unit1-assessment.html">Assessment</a>
                   <a href="c++-unit1-feedback.html">Feedback Form</a>
                </div>
       </section>
           <!-- These are the activities for lesson 1 -->
           <div align = "middle">
                          <p>For this activity, feel free to look at the sample code provided below. Try to create at least 4 different messges by editing the code and messages displayed on the left side of the editor. When you are ready to run it, press the execute button to see the output of your program.</p>
               <p>___________________________</p>
                <iframe src="http://tpcg.io/vhgcwE" width="1024" height="500" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
               </div>
       </header> 
   
         
    </body>
    